<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Folder" value="C:\Download\GRAND\test"/>
    <add key="Process" value="CLIENT_CARD;CLIENT_EMAIL;MOZ_DETAIL;INPUT_INVOICE;MEMO;DELIVERY_METHOD;ACCOUNT_TYPE;AGREEMENT;CUSTOMER_NAME;DELIVERY_ZONE;PAYER_BAN;BILL_EMAIL;ACTIVATION;RENEWAL;CRED_LIMIT;SIM_CARD"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>